html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-rows: 66px 1fr 50px;
    grid-template-columns: 1fr;
}

.header_row {
    grid-row: 1;
    grid-column: 1;
    height: 66px;
    background: #07569A;
    display: grid;
    grid-template-rows: 66px;
    grid-template-columns: 1fr 120px 234px 790px 300px 1fr;
}

.header_row .header_cell {
    grid-row: 1;
}

.header_row .header_cell.logo {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_row .header_cell.basket {
    grid-column: 5/6;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_row .header_cell.basket .icon .basket_link {
    text-decoration: none;
}

.header_row .header_cell.basket .icon .basket_img {
    width: 34px;
    height: 34px;
}

.header_row .header_cell.basket .info .basket_link {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
}

.header_row .header_cell.basket .info .basket_link:hover {
    text-decoration: underline;
}

.header_row .header_cell.basket .info .price {
    font-size: 20px;
    line-height: 24px;
}

.header_row .header_cell.basket .info .count {
    font-size: 14px;
    line-height: 20px;
}

.content_row {
    grid-row: 2;
    grid-column: 1;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 120px 234px 970px 120px 1fr;
}

.header_row .content_cell {
    grid-row: 1;
    height: 100%;
}

.content_row .content_cell.menu {
    grid-column: 3/4;
    background: #E5E4E5;
    margin: 0;
    padding: 0;
}

.content_row .content_cell.menu .menu_list {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}

.content_row .content_cell.menu .menu_list .menu_item {
    list-style-type: none;
    padding: 10px 20px;
}

.content_row .content_cell.menu .menu_list .menu_item:hover {
    background: rgba(200, 199, 200, 0.86);;
}

.content_row .content_cell.menu .menu_list .menu_item .menu_item_link {
    color: #333333;
    text-decoration: none;
}

.content_row .content_cell.menu .menu_list .menu_item .menu_item_link:hover {
    text-decoration: underline;
}

.content_row .content_cell.content {
    grid-column: 4/5;
    padding: 20px 30px;
}

.content_row .content_cell.content .breadcrumbs {
    font-size: 14px;
    line-height: 20px;
}

.content_row .content_cell.content .breadcrumbs .breadcrumbs_list {
    padding: 0;
    margin: 0 0 20px 0;
}

.content_row .content_cell.content .breadcrumbs .breadcrumbs_list .breadcrumbs_item {
    list-style-type: none;
    display: inline-block;
}

.content_row .content_cell.content .breadcrumbs .breadcrumbs_list .breadcrumbs_link {
    color: #3072C4;
    text-decoration: none;
}

.content_row .content_cell.content .breadcrumbs .breadcrumbs_list .breadcrumbs_link:hover {
    text-decoration: underline;
}

.content_row .content_cell.content .title {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin: 20px 0;
    padding: 0;
}

.content_row .content_cell.content .producl_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content_row .content_cell.content .producl_list .producl_card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px 50px 20px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.content_row .content_cell.content .producl_list .producl_card .product_name {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}

.content_row .content_cell.content .producl_list .producl_card .product_articul {
    color: #A0A0A0;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}

.content_row .content_cell.content .producl_list .producl_card .product_price {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    margin: 20px 0 10px 0;
}

.content_row .content_cell.content .producl_list .producl_card .add_basket .add_button {
    background-color: #07569A;
    border: 1px solid #1D85D0;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 11px 5px 11px 25px;
    width: 123px;
    height: 42px;
    cursor: pointer;
}


.footer_row {
    grid-row: 3;
    grid-column: 1;
    height: 50px;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 120px 1200px 120px 1fr;
}

.footer_row .footer_cell {
    grid-row: 1;
}

.footer_row .footer_cell.copy {
    grid-column: 3/4;
}